@model IEnumerable<GestorDeTaller.Model.Repuesto>

@{
    ViewData["Title"] = "Listar Repuestos Asociados al Mantenimiento";
}

<h1>Repuestos Asociados a un Mantenimiento</h1>
<p>

    @Html.ActionLink("Asociar Repuesto ", "Asociar_Repuesto", "RepuestosParaMantenimiento", new { id = @ViewBag.Id }, null)
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Desasociar ", "ConfirmarRepuestoAdesasociar", "RepuestosParaMantenimiento", new { id = item.Id }, null)
               

            </td>
        </tr>
}
    </tbody>
</table>
<br><br>
<div>
    <a href="javascript: history.go(-1)">Regresar</a>
</div>
