@model IEnumerable<GestorDeTaller.Model.OrdenDeMantenimiento>

@{
    ViewData["Title"] = "ListarOrdenesDeMantenimientoRecibidas";
}
@{
    Layout = "~/Views/Restringido/_Layout2.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //Esta sería la plantilla original del sitio web.
}
<h1>Órdenes de mantenimiento recibidas</h1>

<p>
    <a asp-action="AgregarOrdenDeMantenimientoRecibidas" class="btn btn-success">Agregar </a>
  
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDelCliente)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaDeIngreso)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NombreDelCliente)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeIngreso)
                </td>

                <td>
                    <a asp-action="ListarMantenimientosDisponiblesParaArticulo" asp-route-id=@item.Id class="btn btn-success">Agregar mantenimiento a la orden</a>
                    <a asp-action="EditarOrden" asp-route-id="@item.Id" class="btn btn-success">Editar</a>
                    <a asp-action="DetallesDeOrdenRecibida" asp-route-id="@item.Id" class="btn btn-success">Detalles</a>
                    <a asp-action="IniciarOrdenMantenimiento" asp-route-id="@item.Id" class="btn btn-success">Iniciar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
